.container {
  display: flex;
  justify-content: space-between;
   flex-direction: row;
  flex-wrap: wrap;
  
  flex-flow: row wrap;
  
  
  height: 400px;
  flex-grow: 400px;
  border: 2px solid black; 
  background-color: brown; 
}

.box1{
    background-color: red;
}
.box2{
    background-color: blueviolet;
}
.box3{
    background-color: red;
}
.box4{
    background-color: blueviolet;
}
.box5{
background-color: chartreuse;
}